.splash {
  background-color: white;
  height: 100%;
}

.splash-header {
  background-color: teal;
  display: block;
  margin: auto;
}

h1 {
  
}

div.header>h1 {
  font-size: 48px;
  color: white;
}

.splash-actions {
  background-color: white;
  display: block;
  margin: auto;
  margin-top: 0px;
  height: 100%;
  min-height: 100px;
}
