.login-form {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 60%;
}

.login-header {
  background-color: teal;
  display: block;
  margin: auto;
}

.login-header>h1 {
  font-size: 48px;
  color: white;
  background-color: black;
}
